
.float {
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 285px;
    height: 155px;

    img {
        padding: 10px;
        width: 70%px; /* bug q funciona */
        height: 155px;
    }
}

.float-2 {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 285px;
    height: 165px;

    img {
        padding: 10px;
        width: 270px;
        height: 168px;
    }
}


.content-1 p {
    font-size: 1.2rem;
    width: 98%;
    margin-bottom: 10px;
    padding: 7px;
    text-align: justify;
    color: black;
}

.first-letter {
    text-indent: 10px;
    font-weight: bold;
    float: left;
    font-size: 48px;
    line-height: 42px;
}

.linha {
    border: 1px solid rgba(0, 0, 0, 0.247);
    border-radius: 20px;
    width: 95%;
    margin: auto;
}

.buttom {
    width: 300px;
    margin-right: 30px;
    margin-top: 30px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.back-to-top:before {
    content: "";
    width: 12px;
    height: 12px;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: white;
    transform: rotate(-45deg);
}